* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 2;
    
}
header > h1 {
    font-size: 38px;
    color: #FFFFFF;
    font-weight: 700;
}

.container {
    margin-top: 147px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.criar-quizz {
    width: 1050px;
    height: 180px;
    border: 1px dashed #D5D5D5;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.criar-quizz > h1 {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.criar-quizz > .button {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}
.criar-quizz > .button > h2 {
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
} 
.button:hover {
    cursor: pointer;
}

.seus-quizzes {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 77px;
}
.seus-quizzes .header-seus-quizzes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}
.seus-quizzes .header-seus-quizzes > h1 {
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-right: 26px;
}
.seus-quizzes .botao {
    width: 31px;
    height: 30px;
    background-color: #EC362D;
    border-radius: 500px;
    position: relative;
}
.seus-quizzes .botao img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    margin-left: 8px ;
    position: absolute;
}
.seus-quizzes .botao:hover {
    cursor: pointer;
}


main {
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
}
main > h1 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    color: black;
}
.quizzestodos, .quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.quizzestodos img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    
}
.quizzestodos{
    position: relative;
}
.quizzestodos h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    word-break: break-all;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
}
.quizz {
    position: relative;
    margin-top: 12px;
    width: 340px;
    flex-wrap: wrap;
}

.quizz > .titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 175px;
    color:#FFFFFF;
    margin-left: 20px;
}

.tela-inicial-mostrar-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pergunta1{
    width: 759px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 38px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.questao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pergunta1 h3{
    width: 688.16px;
    height: 137.99px;
    background-color: #434CA0;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
}
.respostas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}
.respostas img{
    margin: 16px 16px;
}
.tituloQuizz{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
    opacity: 0.6;
}

.tituloQuizz img{
    width: 100%;
    height: 227px;
    object-fit: cover;
    margin-top: 100px;
    position: absolute;
    opacity: 0.6;
}
.respostaQuizz{
    margin-top: 150px;
}



.tela-inicial-criacao-quiz h1, .tela-criacao-quizz-perguntas h1 {
    text-align: center;
    font-weight: 700;
    color: #000000;
    margin-bottom: 26px;
}
.tela-criacao-quizz-perguntas .box h1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}
.tela-inicial-criacao-quiz .box, .tela-criacao-quizz-perguntas .box {
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tela-criacao-quizz-perguntas .frente-box {
    margin: 0 auto;
    width: 600px;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.tela-criacao-quizz-perguntas .frente-box > h1 {
    height: 74px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    
}
.tela-criacao-quizz-perguntas .box {
    height: 830px;
    
}
.tela-inicial-criacao-quiz input, .tela-criacao-quizz-perguntas input {
    color: #BABABA;
    font-weight: 400;
    font-size: 19px;
    padding: 0 40px;
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}
.tela-inicial-criacao-quiz .button, .tela-criacao-quizz-perguntas .button {
    margin: 0 auto;
    width: 368.86px;
    height: 54px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-top: 85px;
}
.tela-criacao-quizz-perguntas .question {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.tela-inicial-criacao-quiz .button h2, .tela-criacao-quizz-perguntas .button h2{
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 52px;
}
.quizzestodos div{
    width: 340px;
    height: 181px;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    
}

.tela-inicial-mostrar-quiz h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 50%;
}


.escondido {
    display: none;
}
.box.escondido {
    display: none;
}

@media (max-width: 1100px) {
    .criar-quizz {
        width: 90%;
    }
    main {
        width: 90%;

    }
    .seus-quizzes {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        flex-direction: column;
    }
    .quizzes {
        flex-direction: column;
    }
    .quizz {
        margin-bottom: 20px;
        width: 90%;
    }
    .respostas{
    flex-direction: column;
    }
    .pergunta1{
        width: 100%;
    }

}


